/*body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}*/

.left-right-section {
	padding-left: 23px;
    margin-left: 40px;
    background-color: #f5eaea;
    padding-bottom: 7px;
    width: 45.5%;
}
